@using Common
@using Models
@model ReqData<TreeView<DT_DataItemDetail>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[,] str =
{   // 名称，方法
        { "字典列表","list"},
        { "生成代码","t"}
    };
}

<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title title-pin">
        @{
            for (int i = 0; i < str.Length / 2; i++)
            {
                <li class="@(i==0?"layui-this":"")">@str[i, 0]</li>
            }
        }
    </ul>
    <div class="layui-tab-content">
        <!-- 字典列表 -->
        <div class="layui-tab-item layui-show">
            <table class="layui-table msg" lay-skin="line">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>ItemName</th>
                        <th>ItemValue</th>
                        <th>ItemCode</th>
                        <th>ByName</th>
                        <th>Repeat</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DataList != null)
                    {
                        foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>@item.Node.Id</td>
                                <td>
                                    @{
                                        for (int i = 0; i < item.Layer; i++)
                                        {
                                    @:&nbsp;&nbsp;&nbsp;
                                    }
                                        if (item.Layer > 1)
                                        {
                                    @:<i class="fa  fa-chevron-right"></i>
                                    }
                                    }

                                    @item.Node.ItemName
                                </td>
                                <td>@item.Node.ItemValue</td>
                                <td>@item.Node.ItemCode</td>
                                <td class="byname">@item.Node.ByName</td>
                                <td class="con"></td>
                            </tr>
                                            }
                                        }
                </tbody>
            </table>
        </div>
        <!-- 生成代码 -->
        <div class="layui-tab-item">
            <div class="layui-row">
                <div class="layui-col-sm3 con">
                    <form class="layui-form  layui-form-pane">
                        <fieldset class="layui-field-title">
                            <legend>数值输入</legend>
                        </fieldset>

                        <div class="layui-form-item">
                            <label class="layui-form-label layui-col-sm1">类型</label>
                            <div class="layui-input-block">
                                @Html.DropDownList("MsgStr", Model.DropList)
                            </div>
                        </div>

                        <span class="layui-btn layui-btn-primary layui-col-xs5" onclick="GetCode(-1)">输出全部</span>
                        <span class="layui-btn layui-col-xs5" onclick="GetCode(6)">输出选中</span>

                    </form>

                </div>
                <div class="layui-col-sm7 layui-col-sm-offset1 ">
                    <fieldset class="layui-field-title">
                        <legend>日志消息</legend>
                    </fieldset>

                </div>
            </div>
        </div>

    </div>

</div>


@section jq{

    <script>


        //$(".msg tr").each(function () {
        //    var name = $(this).children(".byname").text();
        //    var con = 0;

        //    for (var i = 0; i < $(".msg tr").length; i++) {
        //        if ($(".msg tr .byname").eq(i).text() == name)
        //            con++;
        //    }
        //    $(this).children(".con").html(con);
        //});

        function GetCode(val) {

            var id = $("select[name=MsgStr]").val();

            if (val < 0)
                id = val;

            $.post('/AddCode/Index', { type: id }, function (res) {
                layer.msg('执行成功！', { 'anim': '1', 'time': '2000', 'icon': '1' });
            });
        }


    </script>
}