@using Common
@model LoginInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[,] str =
{       // 名称，方法
        {"首页","Index" }//,
        //{"最少转机","Least" }
    };
}
@section css{
    <style>
        .h {
            padding: 10px;
            transition: .2s;
            word-break: break-all;
        }

            .h label {
                font-weight: bold;
            }

            .h:hover {
                background-color: #eee;
                color: #444;
            }
    </style>
}

<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title title-pin">
        @{
            for (int i = 0; i < str.Length / 2; i++) {
                <li class="@(i==0?"layui-this":"")">@str[i, 0]</li>
            }
        }
    </ul>
    <div class="layui-tab-content">
        <!-- 弹框表单 -->
        <div class="layui-tab-item layui-show">
            <form action="@Url.Action("Default", "Home")" method="post" class="layui-form">
                <fieldset class="layui-field-title">
                    <legend>表单</legend>
                    <div class="layui-form-item">
                        <label class="layui-form-label">图 标</label>
                        <div class="layui-input-block">
                            @Html.DropDownList("icon")
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">文 字</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" placeholder="请输入文字" class="layui-input" value="@ViewBag.MsgStr">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="submit" class="layui-btn layui-btn-block" value="弹框" />
                        </div>
                    </div>
                </fieldset>
            </form>
            <!-- 配置信息 -->
            <fieldset class="layui-field-title">
                <legend>配置信息</legend>
                <div class="layui-row">
                    <div class="layui-col-sm2 h">
                        <label>电脑名称：</label> @Model.HostName
                    </div>
                    <div class="layui-col-sm2 h">
                        <label>IPv4：</label> @Model.IPv4
                    </div>
                    <div class="layui-col-sm6 h">
                        <label>操作系统：</label> @Model.System
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-sm2 h">
                        <label>所在地址：</label> @Model.City
                    </div>
                    <div class="layui-col-sm2 h">
                        <label>运营商：</label> @Model.Operator
                    </div>
                    <div class="layui-col-sm2 h">
                        <label>网络IP：</label> @Model.ExtranetIP
                    </div>
                    <div class="layui-col-sm4 h">
                        <label>物理地址：</label> @Model.Mac
                    </div>
                </div>
            </fieldset>

            <!-- 请求信息 -->
            <fieldset class="layui-field-title">
                <legend>请求信息</legend>

                @{ for (int i = 0; i < ViewBag.m.Keys.Count;) {
                        <div class="layui-row">
                            @{
                                for (int j = 0; j < 2 && i < ViewBag.m.Keys.Count; j++, i++) {
                                    if (!string.IsNullOrEmpty(ViewBag.m[ViewBag.m.Keys[i]])) {
                                        <div class="layui-col-sm12 h">
                                            <label>@ViewBag.m.Keys[i]：</label>@ViewBag.m[ViewBag.m.Keys[i]]
                                        </div>
                                    }
                                }
                            }
                        </div>
                                }

                }

            </fieldset>

        </div>
    </div>
</div>
