<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>∑(っ °Д °;)っ</title>
    <!-- CSS文件引用 -->
    <link href="~/Content/Script/Plug/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/Script/Plug/FontIcon/css/font-awesome.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <!-- JS文件引用 -->
    <script src="~/Content/Script/jquery-3.2.1.min.js"></script>
    <style>
        .msg {
            display: none;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header ">
            <div class="layui-logo">代码库</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item" id="bar"><a href="#"><i class="fa fa-bars fa-2x"></i></a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="~/Content/Images/5.jpg" class="layui-nav-img" />
                        步尘
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href=""><i class="fa fa-power-off fa-fw " style="font-size:20px;"></i></a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black  ">
            <div class="layui-side-scroll  ">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree  " lay-filter="test">
                    <li class="layui-nav-item layui-this">
                        <a href="#" data-url="@Url.Action("Default", "Home", new { area = "" })"><i class="fa fa-home fa-fw"></i> 首页</a>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;"><i class="fa fa-desktop fa-fw"></i> Web功能</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="#" data-url="@Url.Action("index", "AddDic",new { area="WebFunction"})">
                                    Lang字典添加
                                    <i class="msg">
                                        2017-10-16，始
                                        <br /> 2017-10-17，止
                                    </i>
                                </a>
                            </dd>
                            <dd>
                                <a href="#" data-url="@Url.Action("index", "Login", new { area = "WebFunction" })">
                                    登录记录
                                    <i class="msg">
                                        2017-10-23，始
                                        <br /> 2017-10-23，止
                                    </i>
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;"><i class="fa fa-code fa-fw"></i> 算法学习</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="#" data-url="@Url.Action("Index", "Sort", new { area = "Algorithm" })">
                                    各种排序
                                    <i class="msg">
                                        2017-10-18，桶排序
                                        <br /> 2017-10-18，冒泡排序
                                        <br /> 2017-10-19，快速排序
                                    </i>
                                </a>
                            </dd>
                            <dd>
                                <a href="#" data-url="@Url.Action("Index", "Struc", new { area = "Algorithm" })">
                                    栈，队列，链表
                                    <i class="msg">
                                        2017-10-19，队列
                                        <br /> 2017-10-19，栈
                                        <br /> 2017-10-19，链表
                                    </i>
                                </a>
                            </dd>
                            <dd>
                                <a href="#" data-url="@Url.Action("Index", "Search", new { area = "Algorithm" })">
                                    搜索
                                    <i class="msg">
                                        2017-10-23，广度优先搜索
                                        <br /> 2017-10-23，深度优先搜索
                                        <br /> 2017-10-24，水管工游戏
                                    </i>
                                </a>
                            </dd>
                            <dd>
                                <a href="#" data-url="@Url.Action("Index", "Chart", new { area = "Algorithm" })">
                                    图的遍历
                                    <i class="msg">
                                        2017-10-24，城市地图
                                        <br /> 2017-10-25，最少转机
                                    </i>
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;"><i class="fa fa-wrench fa-fw"></i> 工具网站</a>
                        <dl class="layui-nav-child">
                            <dd><a href="#" data-url="http://fontawesome.dashgame.com/">字体图标</a></dd>
                            <dd><a href="#" data-url="http://fly.layui.com/">Fly社区</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <iframe id="iframe" style="height:99%;width:100%;border:none;" src="@Url.Action("Default", "Home")"></iframe>
        </div>

        <div class="layui-footer" style="text-align:center;width:100%;">
            <!-- 底部固定区域 -->
            轻剑惊鸿藏锋，重剑大巧不工
        </div>
    </div>

    <script src="~/Content/Script/Plug/layui/layui.all.js"></script>
    <script>
        var iframe = $("#iframe");

        // 框架加载指定路径
        $(".layui-nav-item a").click(function () {
            iframe.prop("src", $(this).data("url"));
        });

        // 侧边栏收缩
        $("#bar").click(function () {

            $(this).removeClass("layui-this").css("transition", ".1s");

            var w = $(".layui-side").width();

            if (w > 0) {
                $(".layui-side").stop().animate({
                    "width": "0px"
                }, 100);
                $(".layui-body").stop().animate({
                    "left": "0px"
                }, 100);
                $(".layui-footer").stop().animate({
                    "left": "0px"
                }, 100);
                $(this).find("a").css("transform", "rotateZ(-90deg)");

            } else {
                $(".layui-side").stop().animate({
                    "width": "200px"
                }, 100);
                $(".layui-body").stop().animate({
                    "left": "200px"
                }, 100);
                $(".layui-footer").stop().animate({
                    "left": "200px"
                }, 100);
                $(this).find("a").css("transform", "rotateZ(0deg)");
            }


        });

        // 添加序号
        var tab = $(".layui-nav-item");
        // 添加序号
        for (var i = 0; i < tab.length; i++) {
            var a = $(tab[i]).find(".layui-nav-child a");
            for (var j = 0; j < a.length; j++) {
                var index;
                $(a).eq(j).html(bq(j + 1) + "、" + $(a).eq(j).html()).hover(
                    function () {
                        var html = $(this).children("i").html();
                        if (html) {
                            index = layer.tips(html, this, {
                                tips: [4, '#009688'],
                                time: 3000
                            });
                        }

                    },
                    function () { layer.close(index); }
                );
            }

        }

        // 补为两个长度
        function bq(num) {
            if (num < 10)
                return "0" + num;
            return num;
        }

    </script>
</body>
</html>